<nav class="navbar navbar-expand-sm bg-warning navbar-dark">
    <div class="container-fluid">
        <a class=" navbar-brand" href="#">Kulissit kuntoon!  (@ViewBag.LoggedStatus)</a>


        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li>@Html.ActionLink("Meistä", "ofus", "home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Ohjeet", "help", "home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Tuotteet", "index", "product", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Materiaalit", "index", "materials", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Kirjaudu ulos", "logout", "home", new { area = "" }, new { @class = "nav-link" })</li>
            </ul>
        </div>
    </div>
</nav>
