@model MateriaaliVarasto.Models.Tuotteet

@{
    ViewBag.Title = "Create2";
    ViewBag.Adding = "Etkö löydä listasta etsimääsi?";
}


@using (Html.BeginForm("Create2", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

   
    <h3 style="padding-top: 2em">Lisää uusi tuote:</h3>
    <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Tuotenimi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tuotenimi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tuotenimi, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.ValmistajaID, "Valmistaja (valitse listasta)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ValmistajaID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ValmistajaID, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div>
            @ViewBag.Adding
        </div>
        <div>
            <input type="button" value="Lisää uusi valmistaja" onclick="location.href='@Url.Action("Create", "Producers")'"/>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.RyhmäID, "Tuoteryhmä (valitse listasta)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RyhmäID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RyhmäID, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.MateriaaliID, "Materiaali (valitse listasta)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MateriaaliID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MateriaaliID, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div>
            @ViewBag.Adding
        </div>
        <div>
            
            <input type="button" value="Lisää uusi materiaali" onclick="location.href='@Url.Action("Create", "Materials")'"/>
        </div>
    <br/>
    
        <div class="form-group">
            @Html.LabelFor(model => model.Määrä, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Määrä, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Määrä, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Pesty, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.Label("Kyllä")
                    @Html.RadioButtonFor(model => model.Pesty, "true")
                    @Html.Label("Ei")
                    @Html.RadioButtonFor(model => model.Pesty, "false")
                    @Html.ValidationMessageFor(model => model.Pesty, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
         <div class="form-group">
             @Html.LabelFor(model => model.Kuva, htmlAttributes: new { @class = "control-label col-md-2" })
             <div class="col-md-10">
                 <input type="file" name="file1" id="file1" style="width: 100%;" />
             </div>

         </div>
         <br />

         <div>
            @ViewBag.Message
        </div>

    
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Tallenna" class="btn btn-success" />
        </div>
    </div>

}
<br />
<div>
    @Html.ActionLink("Takaisin tuotteisiin", "Index")
</div>
<br />
<br />
