@model MateriaaliVarasto.Models.Tuotteet

@*@section scripts {                            <-- tämä skripti osa toimimatonta modalikkunaa materiaalin lisäystä varten
    <script type="text/javascript">
        $("#btnMatsku").click(function () {
            $('#TuoteRuutu').modal('show');
        });
    </script>
}*@

@{
    ViewBag.Title = "Create";
}

<h2>Luo uusi tuote</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Tuotteet</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Tuotenimi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tuotenimi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tuotenimi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pesty, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Pesty)
                    @Html.ValidationMessageFor(model => model.Pesty, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Määrä, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Määrä, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Määrä, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RyhmäID, "Ryhmä", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RyhmäID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RyhmäID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MateriaaliID, "Materiaali", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MateriaaliID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MateriaaliID, "", new { @class = "text-danger" })
            </div>
            @*<button type="button" name="btnMatsku" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#TuoteRuutu">Materiaalin lisäys</button>   <--toimimaton *@
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValmistajaID, "Valmistaja", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ValmistajaID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ValmistajaID, "", new { @class = "text-danger" })
            </div>
            @*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#TuoteRuutu">Valmistajan lisäys</button>    <---toimimaton*@
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageLink, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImageLink, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ImageLink, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

}
T@*ässä divissä yritys modal-ikkunasta materiaalinlisäystä varten - ei toimi!*@
@*<div class="modal fade" id="TuoteRuutu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="1" aria-labelledby="prodLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="prodLabel">Kirjoita ite</h1>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { id = "prodForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <h4>Lisää materiaali: </h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.MateriaaliID)
                        <div class="form-group">
                            @Html.LabelFor(model => model.Materiaali, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Materiaali, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Materiaali, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                    </div>
                }
                <div>
                    @Html.ActionLink("Takaisin", "Create")
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="prodForm">Lisää</button>
                <a href="@Url.Action("Create", "Product")" />
                <button type="submit" class="btn btn-secondary" form="prodForm">Peruuta</button>
                <a href="@Url.Action("Create", "Product")" />
            </div>
        </div>
    </div>
</div>*@
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
