@model PagedList.IPagedList<MateriaaliVarasto.Models.Tuotteet>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

@section scripts {
    <script type="text/javascript">
        $("#singleSelectedMateriaaliID").on("change", function () {
            var selValue = $("#singleSelectedMateriaaliID").val();
            document.getElementById("MateriaaliRyhma").value = selValue;
        });
    </script>
}

<p style="padding-top: 1em">
    @Html.ActionLink("Lisää uusi", "Create2")
</p>

@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <div class="input-group">
        <p class="px-1">@Html.Label("Etsi nimellä:")</p>
        <p class="px-1">@Html.TextBox("SearchString1", ViewBag.currentFilter1 as string, new { @class = "form-control" })</p>
        <p class="px-1">@Html.Label("Etsi materiaalin mukaan:")</p>
        <p class="px-1">@Html.Hidden("MateriaaliRyhma", ViewBag.currentFilter1 as string, new { @id = "MateriaaliRyhma", @class = "form-control" })</p> @*piilotettu kenttä, jolla tehdään kontrollerihaku*@
        <p class="px-1">@Html.DropDownList("MateriaaliID", null, htmlAttributes: new { @id = "singleSelectedMateriaaliID", @class = "form-control" })</p>
        <p class="px-1"><input type="submit" value="Etsi" class="form-control" /></p>
    </div>
}

<table class="table table-hover">
    <tr>
        <th>@Html.ActionLink("Tuotteen nimi", "Index", new { sortProd = ViewBag.ProdNameSortPara, currentFilter1 = ViewBag.currentFilter1 })</th>
        <th>Valmistaja</th>
        <th>Ryhmä</th>
        <th>Määrä</th>
        <th>Materiaali</th>
        <th>Pesty</th>
        <th>Kuva</th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr class="table-warning">
            <td>@Html.DisplayFor(modelItem => item.Tuotenimi)</td>
            <td>@Html.DisplayFor(modelItem => item.Valmistajat.Valmistaja)</td>
            <td>@Html.DisplayFor(modelItem => item.Ryhmät.Ryhmä)</td>
            <td>@Html.DisplayFor(modelItem => item.Määrä)</td>
            <td>@Html.DisplayFor(modelItem => item.Materiaalit.Materiaali)</td>
            <td>@Html.DisplayFor(modelItem => item.Pesty)</td>
            <td>
                @if (item.Kuva != null)
                {
                    var base64 = Convert.ToBase64String(item.Kuva);
                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                    <img src='@imgsrc' style="max-width:100px;max-height:100px" />
                }
                else
                {
                    <img src="~/Images/No-Image-Available.png" style="max-width:100px;max-height:100px" />
                }
            </td>
            <td>
                @Html.ActionLink("Muokkaa", "Edit", new { id = item.TuoteID }) |
                @Html.ActionLink("Poista", "Delete", new { id = item.TuoteID })
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortProd = ViewBag.CurrentSort, currentFilter1 = ViewBag.currentFilter1 }))