@{
    ViewBag.TitleH1 = "Kirjautuminen";
    ViewBag.TitleH2 = "Varaston selaus";
    ViewBag.TitleH3 = "Tuotteen muokkaaminen/poistaminen";
    ViewBag.TitleH4 = "Uuden tiedon lisääminen";
   
}
<main aria-labelledby="title">
    
    <h2>@ViewBag.Message</h2>
    <div>
        <h4>@ViewBag.TitleH1</h4>
        <p>Päästäksesi näkemään tuotteesi tulee sinun kirjautua sisään järjestelmään.</p>
    </div>
    <div>
        <h4>@ViewBag.TitleH2</h4>
        <p></p>
    </div>
    <div>
        <h4>@ViewBag.TitleH3</h4>
        <p></p>
    </div>
    <div>
        <h4>@ViewBag.TitleH4</h4>
        <p></p>
    </div>
   
    
    
    
</main>